@import '../../assets/style/variables';

.main {
  height: calc(100vh - 510px);
  box-sizing: border-box;
}

.section {
  padding-top: $baseline * 2;

  h3 {
    color: $primary;
  }
}

.hr {
  width: 40%;
  margin: $baseline * 2 auto;
  border-top: 1px solid #dddddd;
}