@import '../assets/style/variables.scss';

.header {
  height: 50vh;
  padding-top: 30vh;
  box-sizing: border-box;
  background: $primary url('../assets/img/cow.png') no-repeat 50% 50%;
  animation: moveBg 3s;

  h1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 0;
  }

  h3 {
    color: $secondary;
    font-size: 2rem;
    margin-top: 0.5rem;
  }
}

@keyframes moveBg {
  from {
    background-position: 50% -100%;
  }
  to {
    background-position: 50% 50%;
  }
}